:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white:#fff;
    /* Fuentes */
    --font-DM: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--font-DM);
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img
{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header-title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
    font-family: var(--font-DM);
}
.header-title-container h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
} 
.header-title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header-title-container .header-button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center ;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2{
    margin-bottom: 30px;
    font-family: var(--font-DM);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-tables-container{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-currency-table, .main-commissions-table{
    width: 70%;
    scroll-snap-align: center;
    min-width: 235px;
    max-width: 500px;
    height: 200px;
    margin: 0 auto;
    font-family: var(--font-inter), sans-serif;
}
.main-currency-table .currency-table--title{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
} 
.main-currency-table .currency-table--container{
    width: 80%;
    min-width: 230px;
    max-width: 300px;
    height: 166px;
    margin: 0 auto;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
    text-align: start;
}
.currency-table--container td{
    padding-left: 12px;
    width: 10%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.table__top-left{
    border-radius: 15px 0 0 0;
}
.table__top-right{
    border-radius: 0 15px 0 0;
}
.table__bottom-right{
    border-radius: 0 0 15px 0;
}
.table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .currency-table--downImg{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .currency-table--upImg{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-currency-table .currency-table--date{
    width: max-content;
    height: 30px;
    margin: 16px auto 0;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.main-commissions-table .commissions-table--date{
    width: max-content;
    height: 30px;
    margin: -22px auto 0;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.currency-table--date p, .commissions-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}


.main-commissions-table .commissions-table--title{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secundary-blue);
}
.commissions-table--container{
    margin-top: 15px;
    display: grid;
    width: 80%;
    min-width: 230px;
    max-width: 300px;
    height: 204px;
    margin: 0 auto;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: repeat(4, 39px);
    gap: 2px;
    border-radius: 15px;
}
.commissions-table--container .left-table--component{
    width: 100%;
    height: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    background-color: var(--just-white);
}

.commissions-table--container .right-table--component{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
    background-color: var(--just-white);
}
.commissions-table--container p{
    padding-left: 12px;
    width: 40%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--warm-black);
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 43px auto 0;
    text-align: center;
}

.product-detail--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    font-family: var(--font-DM);
    color: var(--just-white);
}
.product-detail--title p{
    margin: 24px 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: var(--font-DM);
    color: #808080;
}
.main-product-detail .product-cards--container{
    width: 100%;
    height: auto;
}
.product-cards--container .product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;   
    min-height: 152px;
    margin: 15px auto 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    background: var(--black);   
}
.product-detail--card .icon-card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.clock {
    background-image: url('./assets/icons/clock.svg');
}

.eye {
    background-image: url('./assets/icons/eye.svg')
}

.dollar {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.circle{
    background-image: url('./assets/icons/check-circle.svg');
}
.product-detail--card .product--card-title{
    margin-bottom: 15px;
    font-family: var(--font-DM);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-detail--card .product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: var(--font-DM);
    color: #808080;
}
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding: 64px 0;
    text-align: center;
    background: #e5e5e5;
}

.main-plans-container .plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto 50px;
}
.plans--title h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p{
    padding-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-weight: normal;
    color: #757575;
}
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--slider .plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
	margin: 20px 5px 0;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container--card .plan-type{
    position: absolute;
    width: 120px;
    height: 31px;
    line-height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    font-family: var(--font-inter);
    font-weight: 700;
    border-radius: 8px;
    color: var(--just-white); 
} 
.plans-container--card .recommended{
    background-color: var(--bitcoin-orange);   
}
.plans-container--card .basic{
    background-color: var(--secundary-blue);   
}
.plans-container--card .plus{
    background-color: var(--black);
}

.plan-info-container .plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-info-container .plan-card--price{
    position: relative;
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: var(--black);
}
.plan-card--price span{
    position: absolute;
    top: -10px;
    left: calc(50% - 40px);
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--black);
}

.plan-card--price .signal{
    left: calc(50% - 50px);
}
.plan-info-container .plan-card--saving{
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    color: #757575;
}
.plan-info-container .plan-card--ca{
    margin-top: 15px;
    width: 150px;
    height: 50px;
    background-color: var(--off-white);
    font-family: var(--font-DM), sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 18px;
    color: var(--warm-black);
    border-radius: 4px;
    border: 2px solid var(--bitcoin-orange);
}
.plan-card--ca span{
    padding-left: 30px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li{
    margin: 10px 0;
}
.left a{
    text-decoration: none;
    color: var(--just-white);
}





